extends ../layout

block content
  .pb-2.mt-2.mb-4.border-bottom
    h3 Sign in
    <hr>
    .offset-md-3.col-md-7.pl-2.d-grid.gap-2
      a.btn.btn-block.btn-google.btn-social(href='/auth/google')
        i.fab.fa-google-plus-g.fa-xs
        | Sign in with Google
      a.btn.btn-block.btn-facebook.btn-social(href='/auth/facebook')
        i.fab.fa-facebook-f.fa-sm
        | Sign in with Facebook
      a.btn.btn-block.btn-github.btn-social(href='/auth/github')
        i.fab.fa-github.fa-sm
        | Sign in with GitHub
