nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
  .container
    a.navbar-brand(href='/')
      img.d-inline-block.align-text-top(src='/android-chrome-512x512.png' alt='' width='24' height='24')
      |  Affirmations API V2
    button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarColor01' aria-controls='navbarColor01' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarColor01.collapse.navbar-collapse
      ul.navbar-nav.me-auto.mb-2.mb-lg-0
        li.nav-item
          a.nav-link(class=(title === 'Home') ? 'active' : '')(href='/') Home
        li.nav-item
          a.nav-link(class=(title === 'Docs') ? 'active' : '')(href='/docs') Docs
           li.nav-item
          a.nav-link(class=(title === 'Docs') ? 'active' : '')(href='/docs') Favorites
        li.nav-item
          a.nav-link(class=(title === 'Contact') ? 'active' : '')(href='/contact') Contact

      form.d-flex
        if !user
          a.btn.btn-outline-light.me-2(href='/login') Login
        else
          a.btn.btn-primary.me-2(href='/account') My Account
          a.btn.btn-outline-danger(href='/logout') Sign out

